@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Inspiration&family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    height: 200vh;
}

/*******HEADER - start*******/
.nav-top {
    height: 40px;
    background-color: #efefef;
    border-bottom: 1px solid #e4e4e4;
}

.nav-container {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-contact a {
    font-size: 0.8rem;
    color: #bc60e3;
    text-decoration: none; 
}

.nav-contact, .nav-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-social a {
    height: 24px;
}

.nav-social img {
    height: 24px;
}

.nav-logo-container {
    width: 60%;
    height: 125px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-family: 'Inspiration', cursive;
    font-size: 5rem;
    color: #bc60e3;
}

.logo-pic {
    align-self: auto;
}

.nav-logo-container img {
    height: 120px;
    margin-top: 9px;
}

/*******HEADER - end*******/

/*******MENU - start*******/
nav {
    position: sticky;
    top: 0px;
    background-color: #bc60e3;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    list-style: none;
} 

.nav-list li a {
    padding: 16px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
}

.nav-list li a:hover,.nav-list li:hover>a {
    color: #bc60e3;
    background: #fff;
    transition: all .25s ease-out;
}

.sticky-logo-text {
    display: none; /* Skryjeme logo ve výchozím stavu */
}

nav.sticky {/* Styly pro menu fixní */
    background-color: #bc60e3;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
}

nav.sticky .sticky-logo-text {
    display: block; /* Zobrazíme logo, když je menu zachyceno nahoře */
    color: #fff;
    font-family: 'Inspiration', cursive;
    font-size: 2.4rem;
    padding-top: 0px;
}

/*******MENU - end*******/

/*******MAIN - start*******/
main {
    width: 80%;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.article {
    width: 48%;
    min-width: 300px;
    background: #fff;
    margin: 0 0 16px;
    padding: 16px;
    position: relative;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.article:before, .article:after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 100%) 5%;
    content: '';
    display: block;
    right: 0;
    left: 0;
    position: absolute;
    height: 1px;
}
.article:before {
    top: 0;
}

.article:after {
    bottom: 0;
}