@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Inspiration&family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prime-color: #566589;
    --second-color: #f87537;
    --bg-color: #f7f7f7;
    --nav-top-color: #efefef;
    --border-bottom-color: #e4e4e4;
    --text-color: #566589;
    --overlay-prime-color: rgb(86, 101, 137, 0.9);
    --overlay-second-color: rgb(248, 117, 55, 0.1);
  }

body {
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    font-size: 0.9rem;
}

h1 {
    color: var(--second-color);
}

h2, h3 {
    color: var(--prime-color);
    display: block;
}

/* Button CTA */
.btn-cta {
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 1rem;
    color: var(--second-color);
    font-size: 1rem;
    border: 2px solid var(--second-color);
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0rem;
    right: 1rem;
    background: #fff;
    transition-property: color;
    transition-duration: 0.3s;
    float: right;
  }

  .btn-cta:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--second-color);
    color: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  /* BUTTON ABOUT */

  .btn-about {
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 1rem;
    color: var(--prime-color);
    font-size: 1rem;
    border: 2px solid var(--prime-color);
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0rem;
    right: 1rem;
    background: #fff;
    transition-property: color;
    transition-duration: 0.3s;
  }

  .btn-about:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--prime-color);
    color: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .btn-cta:hover, .btn-cta:focus, .btn-cta:active, .btn-about:hover, .btn-about:focus, .btn-about:active {
    color: white;
  }

  .btn-cta:hover:before, .btn-cta:focus:before, .btn-cta:active:before, .btn-about:hover:before, .btn-about:focus:before, .btn-about:active:before {
    transform: scaleX(1);
  }


/*******HEADER - start*******/
.nav-top {
    height: 40px;
    background-color: #efefef;
    border-bottom: 1px solid #e4e4e4;
}

.nav-container {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-contact a {
    font-size: 0.8rem;
    color: var(--second-color);
    text-decoration: none; 
}

.nav-contact, .nav-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-social a {
    height: 24px;
}

.nav-social img {
    height: 24px;
}

.nav-logo-container {
    width: 80%;
    height: 125px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-family: 'Inspiration', cursive;
    font-size: 5rem;
    color: var(--prime-color);
}

.logo-pic {
    align-self: auto;
}

.nav-logo-container img {
    height: 120px;
    margin-top: 9px;
}

/*******HEADER - end*******/

/*******MENU - start*******/
nav {
    position: sticky;
    top: 0px;
    background-color: var(--prime-color);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    list-style: none;
} 

.nav-list li a {
    padding: 16px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
}

.nav-list li a:hover,.nav-list li:hover>a {
    color: #fff;
    background: var(--second-color);
    transition: all .25s ease-out;
}

.sticky-logo-text {
    display: none; /* Skryjeme logo ve výchozím stavu */
}

nav.sticky {/* Styly pro menu fixní */
    background-color: var(--prime-color);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
}

nav.sticky .sticky-logo-text {
    display: block; /* Zobrazíme logo, když je menu zachyceno nahoře */
    color: #fff;
    font-family: 'Inspiration', cursive;
    font-size: 2.4rem;
    padding-top: 0px;
}

/*******MENU - end*******/

/*******MAIN - start*******/
.main-article {
    width: 80%;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.article {
    width: 48%;
    min-width: 300px;
    background: #fff;
    margin: 0 0 16px;
    padding: 16px 16px 0 16px;
    position: relative;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.article::before, .article::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 100%) 5%;
    content: '';
    display: block;
    right: 0;
    left: 0;
    position: absolute;
    height: 1px;
}
.article::before {
    top: 0;
}

.article::after {
    bottom: 0;
}

.article h1, h2 {
    margin: 1rem 0;
}

.article p {
    padding: 1rem;
}

.article-content {
    display: flex;
    flex-direction: row;
}

.article-text {
    display: flex;
    align-items: start;
}

.article-image {
    margin: 0px;
}

.img-girl {
    width: 120px;
    margin: 8px 8px 0 8px;
}

.main-tools {
    width: 80%;
    margin: 48px auto;
    text-align: center;
}

.main-tools::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 100%) 5%;
    content: '';
    display: block;
    right: 0;
    left: 0;
    position: absolute;
    height: 1px;
}

.svg-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 32px 0 32px 0;
}

.svg-tools path {
    fill: var(--prime-color);
}

.svg-container {
    width: 50px;
    height: 50px;
}

.svg-text {
    color: var(--second-color);
    font-weight: 700;
    display: none;
    font-size: 0.75rem;
  }
  
.svg-container:hover .svg-text {
    display: block;
  }

.main-reference {
    width: 80%;
    margin: 64px auto;
    text-align: center;
}

.main-reference h3 {
    color: var(--second-color);
}

.reference {
    position: relative;
    padding: 20px;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between; /* Přidáno pro vyrovnání karet */
}

.card {
    width: 325px;
    margin-bottom: 20px; /* Přidáno pro mezery mezi kartami */
    position: relative;

    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.poster {
    position: relative;
    padding-bottom: 75%; /* Poměr stran obrázku */
    width: 100%;
    height: 0;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.card:hover .poster img {
    transform: scale(1.05);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 75%;
    padding: 1.5em 1.5em 2em;
    background: var(--overlay-prime-color);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.details .desc {
    color: #fff;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .web h3 {
    font-size: 0.8em;
    margin-bottom: .5em;
    color: #fff;
}




/*******MAIN - end*******/

/*******FOOTER - start*******/

/**footer {
    position: relative; platí pro svg 
}**/

.footer-content {
    width: 100%;
/** position: absolute;
    bottom: -20px;
    overflow: hidden; platí pro svg **/
    background-color: var(--prime-color);
    color: #fff;
  }
  
.footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 32px;
}



.footer-contact {
    font-size: 0.8rem;
    line-height: 1.5rem;
    align-self: flex-end;
}

.footer-contact ul {
    list-style: none;
} 

.footer-social {
    align-self: flex-end;
}

.footer-social ul {
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.footer-social li a {
    text-decoration: none;
    color: #fff;
}

.footer-social img {
    height: 24px;
    margin-top: 16px;
}

.footer-logo-text {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Inspiration', cursive;
    font-size: 2.4rem;
    text-align: center;
    padding: 8px 0;
}

.footer-desc {
    line-height: 1.5rem;
    align-self: flex-end;
}

.footer-desc ul {
    list-style: none;
}

.footer-desc ul li {
    font-size: 0.8rem;
    list-style: none;
}

.icon-container {
    margin: 1rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
}

.icon-container:hover {
    width: 50%;
    height: 50%;
}

.icon-svg {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.icon-container:hover .icon-svg {
    transform: scale(1.5);
}

.icon-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--prime-color);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.icon-container:hover::before {
    opacity: 1;
}

