@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.nav-top {
    height: 40px;
    background-color: #efefef;
    border-bottom: 1px solid #e4e4e4;
}

.nav-container {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-contact a {
    font-size: 0.8rem;
    color: #bc60e3;
    text-decoration: none; 
}

.nav-contact, .nav-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-social a {
    height: 24px;
}

.nav-social img {
    height: 24px;
}

.nav-logo-container {
    width: 60%;
    height: 125px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-family: 'Inspiration', cursive;
    font-size: 5rem;
    color: #bc60e3;
}

.logo-pic {
    align-self: auto;
}

.nav-logo-container img {
    height: 120px;
    margin-top: 9px;
}

nav {
    background-color: #bc60e3;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
} 

.nav-list li a {
    padding: 16px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
}

.nav-list li a:hover,.nav-list li:hover>a {
    color: #bc60e3;
    background: #fff;
    transition: all .25s ease-out;
}
